<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mall.order.mapper.OmsCartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.tedu.mall.pojo.order.model.OmsCart">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="sku_id" property="skuId" />
        <result column="title" property="title" />
        <result column="main_picture" property="mainPicture" />
        <result column="price" property="price" />
        <result column="quantity" property="quantity" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="bar_code" property="barCode"/>
        <result column="data" property="data"/>
    </resultMap>

    <!--   定义查询时所有类名的sql片段   -->
    <sql id="SimpleQueryFields">
        <if test="true">
            id,
            user_id,
            sku_id,
            title,
            main_picture,
            price,
            quantity,
            gmt_create,
            gmt_modified
        </if>
    </sql>
    <!-- 查询当前购物中是否已经包含指定用户的指定sku商品  -->
    <select id="selectExistsCart" resultMap="BaseResultMap">
        select
            <include refid="SimpleQueryFields"  />
        from
            oms_cart
        where
            user_id=#{userId}
        and
            sku_id=#{skuId}
    </select>
    <!--   新增sku信息到购物车   -->
    <insert id="saveCart" useGeneratedKeys="true" keyProperty="id">
        insert into oms_cart(
            user_id,
            sku_id,
            title,
            main_picture,
            price,
            quantity
        ) values(
            #{userId},
            #{skuId},
            #{title},
            #{mainPicture},
            #{price},
            #{quantity}
        )
    </insert>
    <!--  修改购物车中sku的数量  -->
    <update id="updateQuantityById">
        update
            oms_cart
        set
            quantity=#{quantity}
        where
            id=#{id}
    </update>
    <!--  根据用户id查询购物车中sku信息  -->
    <!--
        设置的resultType指定一个类做返回值时,
        Mybatis会按照驼峰命名法自动进行列名和属性名的映射
        列名          属性名
        user_id  ->  userId
        sku_id   ->  skuId
        main_picture  -> mainPicture
        price    ->  price
    -->
    <select id="selectCartsByUserId"
            resultType="cn.tedu.mall.pojo.order.vo.CartStandardVO">
        select
            <include refid="SimpleQueryFields" />
        from
            oms_cart
        where
            user_id=#{id}
    </select>

    <!--  根据用户选中的id,删除购物车中的商品(支持一次删除多个商品)  -->
    <!--  collection属性值接收数组时除了array可以之外ids也可以  -->
    <delete id="deleteCartsByIds">
        delete from
            oms_cart
        where
            id in
        <foreach collection="array" item="id" separator=","
                        open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--  清空指定用户购物车中所有sku商品  -->
    <delete id="deleteCartsByUserId">
        delete from
            oms_cart
        where
            user_id=#{userId}
    </delete>

</mapper>

